# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
crash.log

# Ansible
*.retry
__pycache__/
*.pyc
ansible/inventory.ini

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Secrets
**/credentials.yml
**/vault.yml
